*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(180deg, #E5E5FF 0%, #B2B2E0 100%);
}
/*Меню*/
*{
    margin: 0;
    padding: 0;
}
/*Начальное положение меню*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*Меню*/
a{
    text-decoration: none;
}
.header{
    width: 145px;
    height: 100vh;
    background: linear-gradient(180deg, #09092B 0%, #2F348E 100%);
    transition: .2s;
}
.menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}
/*Положение блоков*/
.menu_top{
    margin-top: 34px;
    height: 407px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}
.menu_bot{
    margin-bottom: 29px;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
}
/*ЛОГО*/
.menu_logo{
    display: flex;
    align-items: center;
    transition: .5s;
}
.logo_text{
    display: none;
    transition: .5s;
}
.logo_text_t{
    display: none;
    transition: .5s;
}
.logo_text_b{
    display: none;
    transition: .5s;
}
/*Профиль*/
.profile_menu{
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    background: #1C2062;
    transition: .2s;
}
.profile_text_t{
    display: none;
    transition: .5s;
}
.profile_text_b{
    display: none;
    transition: .5s;
}

.message{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #FFF;
    color: #000;
    font-family: Comfortaa;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .2s;
}
.message p{
    display: none;
    font-size: 0px;
    transition: 5s;
}
.message img{
    width: 29px;
    height: 29px;
    margin-left: 10px;
    margin-right: 8px;

}
/*активное меню*/
.header:hover header{
    width: 100%;
    height: 100%;
    background: rgba(55, 58, 128, 0.61);
    
}

a{
    text-decoration: none;
}
.header:hover{
    width: 407px;
    height: 100vh;
    background: linear-gradient(180deg, #09092B 0%, #2F348E 100%);
    transition: .2s;
}
.header:hover .menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.header:hover .menu_top{
    margin-top: 34px;
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
}
.header:hover .menu_bot{
    margin-bottom: 29px;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
}

.header:hover .menu_logo{
    display: flex;
    align-items: center;
    transition: .5s;
}
.header:hover .logo_text{
    margin-left: 17px;
    display: block;
    transition: .5s;
}
.header:hover .logo_text_t{
    display: flex;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .5s;
}
.header:hover .logo_text_b{
    display: flex;
    color: #FFF;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .5s;
}

.header:hover .profile_menu{
    width: 308px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    background: #1C2062;
    transition: .2s;
}
.header:hover .profile_text_t{
    display: flex;
    color: #FFF;
    font-family: Comfortaa;
    animation: AniTextProfileTop 0.3s forwards;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.header:hover .profile_text_b{
    display: flex;
    color: #FFF;
    font-family: Comfortaa;
    animation: AniTextProfileBot 0.3s forwards;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.header:hover .message{
    display: flex;
    align-items: center;
    width: 306px;
    height: 50px;
    border-radius: 5px;
    background: #FFF;
    color: #000;
    font-family: Comfortaa;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .2s;
}
.header:hover .message p{
    display: flex;
    animation: AniText 0.3s forwards;
    transition: .2s;
}
.header:hover .message img{
    width: 29px;
    height: 29px;
    margin-left: 34px;
    margin-right: 25px;
    transition: .2s;
}

@keyframes AniText {
    0%,
    50%{
        font-size: 0px;
    }
    100%{
        font-size: 22px;
    }
}
@keyframes AniTextProfileTop {
    0%,
    50%{
        font-size: 0px;
    }
    100%{
        font-size: 25px;
    }
}
@keyframes AniTextProfileBot {
    0%,
    50%{
        font-size: 0px;
    }
    100%{
        font-size: 19px;
    }
}
/*Основные теги в Ленте*/
.container{
    width: 1055px;
    margin: 0 auto;
    padding-left: 145px;
}
.profile_block{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}


/*Блок добавления поста*/

.add_post{
    width: 1055px;
    height: 430px;
    border-radius: 10px;
    background: #FFF;
}
.add_text{
    width: 1020px;
    margin: 0 auto;
}
.add_text form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn_add_post{
    border: none;
    width: 217px;
    height: 55px;
    border-radius: 5px;
    background: #454CD1;
    color: #FFF;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.write_news{
    height: 84px;
    border:none;
    width: 746px;
    border-bottom: 1px solid #AEAEAE;
    color: #000000;
    font-family: Comfortaa;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}
.add_img{
    width: 277px;
    height: 307px;
    border-radius: 5px;
    border: 1px solid #AEAEAE;
    margin-left: 19px;
    margin-top: 20px;
}
.add_img form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Блок с постом*/
.post_info{
    width: 936px;
    display: flex;
    align-items: center;
    height: 147px;
}
.post_author{
    margin-left: 11px;
}
.nickname_author{
    color: #000;
    font-family: Comfortaa;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.name_author{
    color: #000;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.post_stat{
    width: 936px;
    height: 134px;      
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post_lcr{
    width: 237px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.like{
    display: flex;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.like span{
    margin-left: 7px;
}
.com{
    display: flex;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.com span{
    margin-left: 7px;
}
.rep{
    display: flex;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.rep span{
    margin-left: 7px;
}
.post_date{
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.post_text p{
    width: 936px;
    overflow-wrap: break-word;
    color: #000;
    font-family: Comfortaa;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.post_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post{
    width: 1055px;
    min-height: 963px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lenta_title{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Comfortaa;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}      